
/* 
Name: Heather Gibson 
Date Created: 10/26/2020
Most Recent Revison: 11/26/2020
*/

/* COLORS

teal:#307c91
light-teal: #b6dce9
grey: #8b929a 
sand: #e5e3e4
*/



/* JUMBOTRON */

.jumbotron{
    background: url(./images/waves.jpg);
}

/* NAVIGATION*/


/* unvisited link */
.nav-pills>li>a {
    border:1px solid #307c91;
    color: #000000;
  }

  /* visited link */
  .nav-pills>li>a:visited {
    color:#8b929a;
  }
  
  /* mouse over link */
  .nav-pills>li>a:hover {
    color: #ffff;
    background: #307c91;
  }
  
  /* selected link */
  .nav-pills .nav-link.active {
    background: #000000;;
    color:#ffff ;
  }

  /* ABOUT SECTION*/

  #about{
      background:#e5e3e4;
  }

  /* MENU */

  #menu {
      background: #b6dce9;
  }
  

  /* CONTACT */

   .card-body {
      background: #b6dce9;
  }
  

  
  /* label {
      text-align: right;
  } */

 


  @media (max-width: 575.98px) { 

    label, input {
        text-align: center;
        
    }

    .no-display {
        display: none;
        }

    }
    @media (min-width: 576px) {
        label {
            text-align: right;
        } 

       #text-left{
        text-align: left;
       }
    }
